header{
    display: grid;
    grid-template-columns: 200px 2fr; 
    margin-top: 50px;
    gap: 40px;
}
.head{
     text-align: end;
    margin-right: 200px;
    margin-top: 10px;
    
}
.first_image{
    margin-left: 200px;
}
button{
    border: none;
    background-color: white;
    padding: 2px 10px;
    margin-right: 10px;
    
}
.display{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.second_image img{
    width: 600px;
    height: 300px;
    margin-left: 200px;
    object-fit: contain;
    margin-top: 15px;

    

}
.border{
    border: 1px solid;
margin-right:205px;
margin-left: 25px;
height: 444px;
background-color: hsl(240, 100%, 5%);
margin-top: 40px;
margin-bottom: -40px;
}
.new{
    color: hsl(35, 77%, 62%) ;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 6px;
}
h4{
    color: white;
    margin-left: 20px;
}
.hydro{
    color:  hsl(233, 8%, 79%);
  
    
}
.invisible{
    border-bottom: 1px solid #cccc;
    margin-left: 20px;
    margin-right: 20px;
}
p{
    color: white;
    margin-left: 20px;
    font-size: 15px;
}
.my{
    color: black;
    margin-left: 200px;
    /* border: 1px solid; */
    width: 300px;
    margin-left: -100px;


}
.first-main{
/* display: flex; */
display: grid;
grid-template-columns: 400px 200px;
/* border: 1px solid; */
margin-left: 200px;

}
.Bright{
    margin-left:-3px ;
    font-size: 30px;
    margin-top: -30px;
    /* border: 1px solid; */
    height: 300px;
    width: 300px;
}
h5{
    border: 1px solid;
    width: 160px;
    height: 40px;
    display: grid;
    place-items: center;
    margin-left: -100px;
    border: none;
    background-color:  hsl(5, 85%, 63%);
    font-size: 20px;
    /* -webkit-box-reflect: below
    1px linear-gradient(transparent,#0005);
    box-shadow: 0 0 5px #d64926, 0 0 15px #d64926,0 0 25px #d64926,0 0 100px #d64926; */
}
.pc{
    color: black;
    margin-top: -10px;
}
.last{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin-left: 200px;
    
}
.last img{
    width: 70px;
    height: 100px;
}
.flexer{
    display:flex;
}
.flexer2{
    display:flex;
    margin-left: -80px
}
.flexer3{
    display:flex;
    margin-left: -130px
}
.num{
    color: grey;
    margin-top: -2px;
    margin-left: 20px;
}
.text{
    margin-top: -1pc;
    margin-left: 20px;
}

@media screen and (min-width:1024px){ 
    #second-icon{
        display: none;
    }
    .icon{
        display: none;
    }
    .second-main{
        display: none;
    }
 

}
/* @media screen and (min-width:368px) and (max-width:1023px){

} */
@media screen and (min-width:367px) and (max-width:1023px){

.first_image{
    margin-left: 5px;
    margin-top: -20px;
}
.icon{
    display: grid;
    place-items: end;
    margin-right:-112px ;
    /* margin-bottom: 250px; */
    height: -100px;

}
.head{
    display: none;
}
    .second_image {
        display: none;
    }
    #second-icon{
        object-fit: contain;
        margin-top: 20px;
        margin-left: 13px;
       
    }
    .border{
        margin-left:20px;
        margin-top: 30px;
        width: 450px;
        /* display: grid;
        place-items: left; */
    }
    .second-main{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left:-660px;
        margin-top: 400px;

    }
    .my{
        margin-left: 10px;
        margin-top: -90px;
   
    }
    h5{
        margin-left: 10px;
    }
    .last{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 100px;
        /* display: grid;
        grid-template-rows: 2fr 2fr 2fr; */
    }
    .flexer2, .flexer3{
        margin-left:1px;
}
}